@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap);header #nav-container {
  margin: auto;
  width: 80%;
  padding: 10px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #nav-container ul {
  display: flex;
  list-style-type: none;
}
header #nav-container ul li {
  padding: 5px;
  border-bottom: 10px solid transparent;
}
header #nav-container ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 50px;
}
header #nav-container ul li a:hover {
  border-bottom: 10px solid #006eff;
  color: #006eff;
}
header #jumbotron-container {
  background-image: url(/images/jumbotron.jpg);
  background-size: cover;
  background-position: inherit;
  height: 350px;
}

footer {
  margin: auto;
  width: 80%;
}

#content-wrapping {
  background-color: #222222;
  padding: 50px 0;
}
#content-wrapping .content-section {
  position: relative;
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
#content-wrapping .content-section button {
  background-color: #006eff;
  color: white;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  position: absolute;
  top: -70px;
  left: -20px;
}
#content-wrapping .content-section #card {
  margin-bottom: 30px;
  display: flex;
  flex-basis: 16.6666666667%;
}
#content-wrapping .content-section #card ul {
  list-style-type: none;
}
#content-wrapping .content-section #card ul li {
  height: 200px;
  margin-bottom: 50px;
  margin-right: 10px;
}
#content-wrapping .content-section #card ul a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
#content-wrapping .content-section #card ul img {
  height: 100%;
  width: 100%;
}
#content-wrapping #button-container {
  display: flex;
  justify-content: center;
}
#content-wrapping #button-container button {
  display: flex;
  align-self: center;
  background-color: #006eff;
  color: white;
  padding: 10px 35px;
  border: none;
  font-weight: 800;
}

#card-wrapping #bar-blue {
  height: 70px;
  background-color: #388bf8;
}
#card-wrapping #content-info-card {
  margin: auto;
  width: 80%;
  padding: 80px 0;
  position: relative;
  display: flex;
}
#card-wrapping #content-info-card #comic-img {
  border: 2px solid white;
  position: absolute;
  top: -320px;
}
#card-wrapping #card-container {
  width: 70%;
}
#card-wrapping #card-container h1 {
  color: #22226d;
  text-transform: uppercase;
}
#card-wrapping #card-container #container-banner-price-ceck {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
#card-wrapping #card-container #container-banner-price-ceck #price-container {
  padding: 15px;
  background-color: #029202;
  width: 70%;
  border-bottom: 1px solid black;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
#card-wrapping #card-container #container-banner-price-ceck #price-container p {
  color: #70c770;
}
#card-wrapping #card-container #container-banner-price-ceck #price-container span {
  color: white;
}
#card-wrapping #card-container #container-banner-price-ceck #check-container {
  padding: 15px;
  background-color: #029202;
  width: 20%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#card-wrapping #card-container #container-banner-price-ceck #check-container p {
  color: white;
}
#card-wrapping #card-container #description-container {
  width: 90%;
}
#card-wrapping #container-banner-img #img-banner {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}