header{
        margin:auto;
        width:70%;
    #header-container{
        display: flex;
        align-items: center;
        img{
            padding:10px 100px 0 0 ;
        }

        ul{
            display: flex;

            list-style-type: none;
            li{
                padding:5px;
                
                a{
                    text-decoration: none;
                    color:black;
                }
            }
        }
    }

}